/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.container-fluid{
    display: flex;
    flex-direction: row-reverse;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    border: 3px solid #6d7fcc;
}

#sidebar.active {
    margin-left: -250px;
}

#grille.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    margin-bottom: 10px;
}

#sidebar .sidebar-header img{
    left:35px;
    width:180px;
    position:relative;
    border:3px solid white;
    border-radius: 8px;
}

#sidebar .sidebar-header h3{
    transform: rotate(-90deg);  
    position: absolute;
    top:65px;  
    left:-45px;
}


#sidebar ul.components {
    padding: 40px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

/* dashed menu */
#sidebar ul li{
    border-bottom:1px dashed white;
}

#accueil{
    border-top: 1px dashed white;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: flex;
}

#sidebar ul li a .icon{
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content p{
    text-align: justify;
}

#content.active {
    width: 100%;
}

/* Le texte à droite */
#texte{
    position: absolute;
    left:20px;
}


#footer{
    display: flex;
    width: 100%;
    bottom:0px;
    left: 0px;
    color:black;
    align-items: center;
    justify-content: flex-end;
}

#footer h3{
    font-size: 15px;
    text-align: center;
}


#grille {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(50px, auto);
    margin-bottom: 200px;
}

#titre{
    grid-column: 1/5;
}

#legend{
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
}

#legend .btn{
    margin-right: 10px;
    margin-top: 10px;
}

#grille .btn{
    width:5vh;
    margin-bottom: 10px;
}

.card-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(10px, auto);
}

.card-header{
    text-align: center;
}

#A,#B,#C{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.detail_ecrit{
    grid-column: 1/4;
    border-left: 5px solid black;
    padding-left: 20px;
    margin-bottom: 20px;
}


.consigne{
    color: black;
}

#DBbrowser{
    color:blue;
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        width: 250px;
        margin-left: 0;
    }
    #content {
        width: 100%;
    }

    #content .active {
        display: block;
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    #grille {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }
    .card-body{
        display: flex;
        justify-content: space-around;
    }
    .card-body button{
        margin-right: 2px;
    }
}
